@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 148px;
}

.great-coffeepress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Great-coffee-simple-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translate(0px, -363px);
}

.great-style {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  color: white;
}

.paragraph-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width: 279px;
  color: #fefcf7;
}

.image-hero-coffeepress {
  width: 327px;
}

.plan-button {
  padding: 15px 32px;
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  color: white;
  background-color: #0e8784;
  border-radius: 6px;
  border: none;
}

.our-collection-style {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
  color: #83888f;

  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.coffee-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.coffee-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.coffee-names {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.coffee-info-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
  width: 282px;
}

.choose-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c343e;
  padding: 21px;
  gap: 61px;
  border-radius: 10px;
  color: white;
  transform: translate(-1px, -937px);
}

.choose-us-style {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
}

.best-exclusive-benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  color: white;
  background-color: #0e8784;
  border-radius: 8px;
  padding: 24px;
  transform: translate(1px, -847px);
}

.best-exclusive-benefits-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  color: white;
  background-color: #0e8784;
  border-radius: 8px;
  padding: 24px;
  transform: translate(1px, -814px);
}

.best-exclusive-benefits-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  color: white;
  background-color: #0e8784;
  border-radius: 8px;
  padding: 29px;
  transform: translate(1px, -812px);
}

.coffee-info-style-two {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: white;
  width: 282px;
}

.best-quality-style {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
}

.discover-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width: 212px;
}

.how-it-works-section {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  color: #83888f;
  margin-top: -600px;
}

.receive-enjoy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.receive-enjoy-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.receive-enjoy-header-style {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.receive-enjoy-span-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
  width: 327px;
}

.plan-button {
  padding: 15px 31px;
  background-color: #0e8784;
  color: white;
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  background-color: #2c343e;
  padding: 42px;
}

.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769276618958px;
  text-align: left;
  color: #83888f;
}

.icon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  padding: 16px;
}

.image-hero-whitecup {
  width: 327px;
}

.us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translate(-6px, -288px);
}

.us-style {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  color: white;
}

.paragraph-us-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  width: 279px;
}

.image-commitment {
  width: 327px;
  margin-top: -220px;
}

.commitment-header-style {
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  color: #333d4b;
}

.commitment-paragraph-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #333d4b;
}
.image-quality {
  width: 279px;
}

.quality-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translate(-1px, 381px);
  margin-top: -200px;
}

.quality-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translate(-9px, 106px);
}

.quality-style {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  color: #fefcf7;
}

.quality-paragraph-style {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  width: 279px;
}

.headquarters-style {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  color: #83888f;
}

.country-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: #333d4b;
}

.country-info-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}
